body {
    width: 35em;
    margin-left: auto;
    margin-right: auto;
    font-family: Avenir, Helvetica, sans-serif;
    background-color: f9f9f9;
}


img.entry-photo {
    max-width: 35em;
    max-height: 20em;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.entry-title {
    margin-top: 2em;
    background-color: black;
    color: #fafafa;
    padding-left: 10px;
    margin-left: -10px;
    margin-right: -10px;
    border-radius: 5px;
}

.page-title {
    font-size: 3em;
    text-align: center;
}
